<?xml version="1.0"?>
<config>
    <modules>
        <VS7_TrackInShipmentGrid>
            <version>0.1.0</version>
        </VS7_TrackInShipmentGrid>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_shipment_grid>VS7_TrackInShipmentGrid_Adminhtml_Block_Sales_Shipment_Grid</sales_shipment_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <sales_resource>
                <rewrite>
                    <order_shipment_grid_collection>VS7_TrackInShipmentGrid_Model_Sales_Resource_Order_Shipment_Grid_Collection</order_shipment_grid_collection>
                </rewrite>
            </sales_resource>
        </models>
    </global>
</config>